@import url('https://unpkg.com/css.gg@2.0.0/icons/css/adidas.css');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/instagram.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/youtube.css');

/* font families
font-family: 'Courgette', cursive;
font-family: 'Lemon', serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Pacifico', cursive;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

header {
    position: fixed;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1000;
    width: 100%;
    top: 0;
    background: transparent;
}


/* body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("images/bk3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
} */


/* body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("images/bk3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.7);
    ;
    filter: blur(4px);
} */

a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
}

.navbar a {
    color: rgb(255, 0, 0);
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

li:hover {
    font-size: 20px;
}

html {
    font-family: 'Courgette', cursive;
    color: white;
}

.gg-adidas {
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 23px;
    height: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gg-adidas:hover {
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 23px;
    height: 15px;
    transform: scale(4);
    overflow: hidden;
    transition-duration: 3s;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    margin-left: 40px;
}

ul {
    list-style-type: none;
}

.logo {
    color: white;
    text-decoration: none;
    margin: 40px;
}

.menu {
    background-color: transparent;
    height: 38px;
    margin-top: 5px;
    width: 28px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 30px;
}

.hyphen,
.hyphen::before,
.hyphen::after {
    background-color: white;
    border: none;
    position: absolute;
    width: 40px;
    height: 5px;
    transition: all 0.5s;
}

.hyphen::before,
.hyphen::after {
    content: "";
}

.hyphen::after {
    transform: translate(-20px, -12px);
    background-color: white;
}

.hyphen::before {
    transform: translate(-20px, 12px);
    background-color: white;
}

:is(.drawer:hover,
.drawer:focus-within) .hyphen {
    transform: rotate(360deg);
    background-color: transparent;
}

:is(.drawer:hover,
.drawer:focus-within) .hyphen::after {
    transform: rotate(45deg);
}

:is(.drawer:hover,
.drawer:focus-within) .hyphen.hyphen::before {
    transform: rotate(-45deg);
}

.hero {
    z-index: 1;
}

.hero {
    background-color: purple;
    background-image: linear-gradient(230deg, rgb(213, 202, 213), rgb(86, 132, 211), rgb(37, 101, 212), rgb(0, 53, 143));
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    gap: 2rem;
    flex-flow: row wrap;
    padding-left: 50%;
}


/* section {
    padding: 0 20%;
} */

.heroimg img {
    width: 100px;
    height: auto;
    background-color: rgb(0, 53, 143);
    border-radius: 50%;
    position: relative;
    left: -30%;
    display: flex;
    margin: 80px;
}

.herotext {
    width: 240px;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    line-height: 1;
    position: relative;
    right: 50%;
    margin: 50% auto;
}

.herotext .links {
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
}

.herotext a {
    display: inline-block;
    background-color: rgb(16, 83, 200);
    padding: 12px;
    border-radius: 30px;
    text-transform: uppercase;
    line-height: 1;
    border: 1px solid transparent;
    transition: all .55s ease-in-out;
    flex-wrap: nowrap;
}

.herotext a:hover {
    background: transparent;
    border: 1px solid white;
    transform: translateY(12px);
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
}

.wave .shape-fill {
    fill: #FFFFFF;
}

.icons {
    position: absolute;
    /* top: 50%; */
    /* z-index: 2; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    left: 20px;
}

.icons img {
    width: 40px;
    display: block;
    margin-left: 40px;
    padding-top: 10px;
}

@media (max-width: 1866px) {
    header {
        padding: 12px 3%;
        transition: .2s;
    }
}

@media (max-width: 1872px) {
    section {
        padding: 0 13%;
        transition: .2s;
    }
}

@media (max-width: 1869px) {
    section {
        padding: 0 13%;
        transition: .2s;
    }
}

@media (max-width: 1783px) {
    .heroimg img {
        width: 100%;
        height: auto;
    }
    .herotext h1 {
        font-size: 12px;
    }
    section {
        padding: 0 13%;
        transition: .2s;
    }
}

@media (max-width: 1082) {
    .heroimg img {
        width: 500px;
        height: auto;
        background-color: rgb(0, 53, 143);
        border-radius: 50%;
        position: absolute;
        display: flex;
        margin: 80px;
    }
    section {
        padding: 0 3%;
        transition: .2s;
        flex-direction: column;
    }
    .hero {
        height: 100%;
        gap: 1rem;
    }
}

@media (max-width: 999) {
    /* .heroimg img {
        width: 00px;
        height: auto;
    } */
    /* section {
        padding: 0 3%;
        transition: .2s;
        display: flex;
        justify-content: center;
        align-items: center;
    } */
    .hero {
        height: 100%;
    }
    /* .heroimg img {
        width: 00px;
        height: auto;
        right: -35px;
    } */
    header {
        color: aqua;
    }
}