@import url('https://unpkg.com/css.gg@2.0.0/icons/css/adidas.css');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/instagram.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/youtube.css');

/* font families
font-family: 'Courgette', cursive;
font-family: 'Lemon', serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Pacifico', cursive;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: purple;
    background-image: linear-gradient(230deg, rgb(213, 202, 213), rgb(86, 132, 211), rgb(37, 101, 212), rgb(0, 53, 143));
}

header {
    position: fixed;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1000;
    width: 100%;
    top: 0;
    background: transparent;
    margin: 0 2%;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
}

.navbar a {
    color: rgb(255, 0, 0);
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

li:hover {
    font-size: 20px;
}

html {
    font-family: 'Courgette', cursive;
    color: black;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    margin-left: 40px;
}

ul {
    list-style-type: none;
}

.logo {
    color: white;
    text-decoration: none;
    margin: 40px;
}

.menu {
    background-color: transparent;
    height: 38px;
    margin-top: 5px;
    width: 28px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 30px;
}

.items {
    animation: showMenu 1.3s ease-in-out forwards;
    display: none;
    margin-left: 40px;
    scale: 1;
    background-color: black;
    color: white;
}

.hyphen,
.hyphen::before,
.hyphen::after {
    background-color: white;
    border: none;
    position: absolute;
    width: 40px;
    height: 5px;
    transition: all 0.5s;
}

.hyphen::before,
.hyphen::after {
    content: "";
}

.hyphen::after {
    transform: translate(-20px, -12px);
    background-color: white;
}

.hyphen::before {
    transform: translate(-20px, 12px);
    background-color: white;
}

:is(.drawer:hover,
.drawer:focus-within) .hyphen {
    transform: rotate(360deg);
    background-color: transparent;
}

:is(.drawer:hover,
.drawer:focus-within) .hyphen::after {
    transform: rotate(45deg);
}

:is(.drawer:hover,
.drawer:focus-within) .hyphen.hyphen::before {
    transform: rotate(-45deg);
}

.drawer:hover .items {
    display: flex;
    flex-flow: column;
    position: absolute;
    width: 100px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.column1 .icons img {
    height: 40px;
    display: flex;
}

.hero {
    display: flex;
    background-color: purple;
    background-image: linear-gradient(230deg, rgb(213, 202, 213), rgb(86, 132, 211), rgb(37, 101, 212), rgb(0, 53, 143));
    min-height: 100vh;
    width: 100%;
    gap: 3rem;
    justify-content: space-between;
    padding: 0 3%;
    align-items: center;
    overflow-y: auto;
    flex-flow: row wrap;
}

.hero div {
    height: 350px;
}

.column3 img {
    height: 300px;
    width: 300px;
    border-radius: 40px;
    position: relative;
}

.column1 {
    background-color: red;
}

.column2 {
    background-color: red;
}

.column3 {
    background-color: red;
}

.col {
    flex: 1;
    box-sizing: border-box;
    height: 100%;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
}

.wave .shape-fill {
    fill: #FFFFFF;
}

.wave2 .shape-fill {
    fill: #FFFFFF;
}

.wordy {
    background-color: white;
    display: flex;
    min-height: 100vh;
    width: 100%;
    gap: 3rem;
    justify-content: space-between;
    padding: 0 3%;
    align-items: center;
    overflow-y: auto;
    flex-flow: column;
}

.wordy h1 {
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 40px;
    position: relative;
    top: 0;
}

.wordycontent {
    display: flex;
    flex: 1;
    box-sizing: border-box;
    height: 100%;
    gap: 3rem;
    justify-content: space-between;
    padding: 0 3%;
    /* align-items: center; */
    overflow-y: auto;
    width: 100%;
    flex-flow: row wrap;
}

.wordycontent div {
    height: 350px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.column1 {
    /* transform: rotateY(360deg); */
    transition: all 2s;
    /* animation: infinite slide 2s ease-in-out forwards; */
}

.wordy img {
    height: 300px;
    width: 300px;
    border-radius: 40px;
    position: relative;
}

@keyframes slide {
    0% {
        transform: translateX(-30px);
    }
    50% {
        transform: translateX(30px);
    }
    100% {
        transform: translateX(-30px);
    }
}

@keyframes showMenu {
    0% {
        transform: scaleY(0);
    }
    50% {
        transform: scaleY(1.2);
    }
    100% {
        transform: scaleY(1.2);
    }
}

.footer div {
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
}

.footercolumn {
    width: 50%;
    margin: 20px;
    border-radius: 34px;
}

.fcol1 {
    background-color: red;
}

.fcol2 {
    background-color: greenyellow;
}

.fcol3 {
    background-color: pink;
}